---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
You can also find my publications on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.
</div>
{% endif %}

{% include base_path %}

<h2>Selected Publications</h2>
<hr>

{% for post in site.publications reversed %}
{% if post.category == "selected" %}

<div style="display:flex; align-items:flex-start; gap:25px; margin-bottom:40px;">

  <div style="flex:0 0 320px;">
    {{ post.content }}
  </div>

  <div style="flex:1;">
    <p style="margin-top:0;">
      {{ post.citation | markdownify }}
    </p>

    {% if post.paperurl %}
    <p>
      <a href="{{ post.paperurl }}">Journal link</a>
    </p>
    {% endif %}
  </div>

</div>

{% endif %}
{% endfor %}


<h2>All Publications</h2>
<hr>

{% for post in site.publications reversed %}

<div style="margin-bottom:18px;">
  {{ post.citation | markdownify }}
</div>

{% endfor %}
