---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
You can also find my publications on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.
</div>
{% endif %}

{% include base_path %}

<h2>Selected Publications</h2>
<hr>

{% for post in site.publications reversed %}
  {% if post.category == "selected" %}

    <div style="margin-bottom:40px;">

      <p>
        <strong>{{ post.title }}</strong><br>
        {{ post.venue }}, {{ post.date | date: "%Y" }}
      </p>

      {{ post.content }}

    </div>

  {% endif %}
{% endfor %}


<h2>All Publications</h2>
<hr>

{% for post in site.publications reversed %}

  <div style="margin-bottom:20px;">
    <p>
      <strong>{{ post.title }}</strong><br>
      {{ post.venue }}, {{ post.date | date: "%Y" }}
    </p>
  </div>

{% endfor %}
